html {
  background-color: #0f2815;
}
.grid_1 {
  padding: 5%;
  margin-bottom: var(--space-md);
}

.grid_1 h1 {
  padding-bottom: var(--space-md);
}
.grid_1 h3,
p {
  padding-bottom: var(--space-sm);
  max-width: 400px;
}
.grid_2 {
  background-color: #e2dcd0;
  padding: 5%;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    max-width: 700px;
  }
}
