html {
  background-color: var(--primary);
}

a {
  color: var(--secondary);
}
/**** åbningstider ****/
.tider {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.tider_boks {
  background-color: var(--quarternary);
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  padding-bottom: var(--space-lg);
}

.pic_1 {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
  padding-top: var(--space-lg);
  width: 300px;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: lighter;
  line-height: 3;
}

.tider_tekst {
  padding-left: 7rem;
  padding-right: 7rem;
}

/**** opdagelse ****/

.pic_container {
  position: relative;
}

.pic_container img {
  position: relative;
  z-index: 100;
}

.pic_tekst {
  position: absolute;
  top: 10%;
  z-index: 200;
  background-color: var(--tertiary);
  opacity: 60%;
  padding-left: var(--space-xxs);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  padding-right: var(--space-xs);
}

/**** seier ****/
.seier {
  background-color: var(--tertiary);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  padding-bottom: var(--space-xxl);
}

.index_tekst {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
#mørk_tekst,
#mørk_tekst2,
#mørk_tekst3,
#mørk_tekst4 {
  color: var(--primary);
}

.flex_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  height: 200px;
}

.flex_1 img {
  width: 250px;
  position: absolute;
}

.pic_seier {
  top: 0;
  left: 0;
  z-index: 1;
}

.pic_karen {
  top: 120px;
  left: 170px;
  z-index: 2;
}

/**** genre ****/
.genre {
  padding-left: var(--space-sm);
  padding-top: var(--space-lg);
  padding-right: var(--space-sm);
}

.flex_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 600px;
}

.flex_2 img {
  width: 200px;
  position: absolute;
}

.pic_concrete {
  top: 0;
  left: 0;
  z-index: 1;
}
.pic_gul {
  top: 40px;
  left: 170px;
  z-index: 2;
}
.pic_kaput {
  top: 180px;
  left: 80px;
  z-index: 3;
}
/**** skatte ****/
.index_tekst_2 {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

@media (min-width: 600px) {
  /**** åbningstider ****/
  .tider {
    padding-left: var(--space-xl);
    padding-top: var(--space-xl);
    padding-right: var(--space-xl);
    padding-bottom: var(--space-xl);
  }

  .tider_boks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tider_tekst {
    padding-top: 14rem;
  }

  /**** opdagelse ****/
  .pic_tekst {
    position: absolute;
    top: 10%;
    z-index: 200;
    background-color: var(--tertiary);
    opacity: 60%;
    padding-left: var(--space-sm);
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-right: var(--space-sm);
  }
  /**** seier ****/

  .seier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: var(--space-xl);
    padding-top: var(--space-xl);
    padding-right: var(--space-xl);
    padding-bottom: 10rem;
  }

  .flex_1 {
    order: -1;
  }

  .flex_1 img {
    width: 250px;
    position: absolute;
  }

  /**** genre ****/

  .genre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: var(--space-xl);
    padding-right: var(--space-xl);
    padding-bottom: var(--space-xl);
  }
}
