/* generelt */
html {
  background-color: var(--primary);
}

main {
  max-width: 1000px;
  margin-inline: auto;
}
p {
  color: white;
}

a {
  color: #e6bd4f;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

h1 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* indhold */

.tekst {
  max-width: 1000px; /* Sæt en grænse for bredden */
  margin: 0 auto; /* Centrér indholdet */
  padding: 20px; /* Tilføj lidt indre afstand */
  position: relative; /* Gør footeren til referencepunkt */
}

@media (min-width: 850px) {
  .bøger {
    position: absolute; /* Placer div'en uafhængigt */
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: -1; /* Sender den bag alt andet */
    max-width: 1000px;
  }
}

@media (max-width: 850px) {
  .bøger {
    display: none;
  }
}

form {
  color: #ffffff;
  padding-left: 1rem;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: lighter;
  max-width: 600px;
  line-height: 1.6;
}

.mail_box {
  padding-bottom: 15px;
}

input[type="text"] {
  background-color: var(--primary); /* Lyseblå baggrund */
  border: 1px solid #ffffff; /* Blå kant */
  padding: 5px; /* Indre margin i boksen */
  border-radius: 3px; /* Afrundede hjørner */
}

input[type="submit"] {
  background-color: var(--primary); /* Blå baggrund */
  color: #ffffff; /* Hvid tekst */
  padding: 10px 15px; /* Størrelse på knappen */
  border: none; /* Fjern kant */
  border-radius: 5px; /* Afrundede hjørner */
  cursor: pointer; /* Skift til klik-hånd ved hover */
  margin-top: -10px;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;
  border: 2px solid var(--secondary);
  margin-top: 2px;
}

/* maps */
.map-container {
  flex: 0 1 45%; /* Gør begge divs næsten lige store, med plads til margin */
  max-width: 600px; /* Tilpas størrelsen, hvis nødvendigt */
  aspect-ratio: 1; /* Sørger for, at de er kvadratiske */
  position: relative;
  background-color: #e2dcd0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
}

iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .grid_1-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding: 0;
    box-sizing: border-box;
    background-color: #e2dcd0;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .map-container {
    margin: 4rem;
    background-color: #e2dcd0;
  }
  .grid_1-1 {
    background-color: #e2dcd0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2rem;
  }
}
