html {
  background-color: var(--primary);

  /** farver **/
  --primary: #0f2815;
  --secondary: #e6bd4f;
  --tertiary: #e2dcd0;
  --quarternary: #191f1b;

  /** spacing **/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
  --space-xxxl: 10;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/** fonte **/
h1 {
  font-family: "Fugaz One", serif;
  color: var(--secondary);
}
h2 {
  font-family: "Cormorant Garamond", serif;
  color: var(--secondary);
}
h3 {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: lighter;
  padding-bottom: var(--space-sm);
}
p {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: lighter;
  line-height: 1.6;
  padding-bottom: var(--space-sm);
  max-width: 42ch; /* Begrænser bredden til max 42 tegn på hver linje */
}

li {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: lighter;
  max-width: 600px;
  line-height: 1.6;
}

a {
  font-family: "Inter", sans-serif;
  color: var(--secondary);
  font-weight: lighter;
  max-width: 600px;
  line-height: 1.6;
}
@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    max-width: 63ch; /* Begrænser bredden til max 63 tegn på hver linje */
  }
}

/* menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #191f1b;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  width: 15%;
  height: 15%;
  padding-left: 10px;
  padding-top: 7px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 15px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #e6bd4f;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #191f1b;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 20px;
  }
}

/* footer */

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ikon-center {
  width: 30px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

footer {
  background-color: #191f1b;
}
.footer_indhold {
  max-width: 1000px; /* Sæt en grænse for bredden */
  margin: 0 auto; /* Centrér indholdet */
  padding: 20px; /* Tilføj lidt indre afstand */
  position: relative; /* Gør footeren til referencepunkt */
}

.grid_1-1-1 {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrerer horisontalt */
  align-items: center; /* Centrerer vertikalt */
  gap: 20px;
}

@media (min-width: 600px) {
  .footer_logo {
    position: absolute; /* Placer logoet frit */
    bottom: 0; /* Placer helt i bunden */
    right: 0; /* Placer helt ude til højre */
    z-index: 1; /* Sørg for, at logoet vises oven på indhold */
    width: 15%;
    padding-bottom: 10%;
    padding-right: 1rem;
  }
}

@media (max-width: 600px) {
  .footer_logo {
    position: absolute; /* Placer logoet frit */
    bottom: 0; /* Placer helt i bunden */
    right: 0; /* Placer helt ude til højre */
    z-index: 1; /* Sørg for, at logoet vises oven på indhold */
    width: 20%;
    padding-bottom: 20%;
    padding-right: 1rem;
  }
}
