html {
  /** farver **/
  --primary: #0f2815;
  --secondary: #e6bd4f;
  --tertiary: #e2dcd0;
  --quarternary: #191f1b;

  /** spacing **/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}
* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/** fonte **/
h1 {
  font-family: "Fugaz One", serif;
  color: var(--secondary);
}
h2 {
  font-family: "Cormorant Garamond", serif;
  color: var(--secondary);
}
h3 {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: lighter;
}
p {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: lighter;
  max-width: 600px;
  line-height: 1.6;
}
