/* Hide Lottie animation in mobile */
@media screen and (max-width: 600px) {
  #lottie-container {
    display: none;
  }
}
.max {
  margin-inline: 4%;
}

/**** Om os ****/

.om_os {
  background-color: var(--primary);
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}
.om_titel {
  padding: var(--space-sm);
}
#om_tekst1,
#om_tekst2,
#om_tekst3 {
  color: var(--primary);
}
.order {
  order: 1;
}
/**** Skjulte skatte ****/
.beige_baggrund {
  background-color: var(--tertiary);
}
.skjulte_skatte {
  padding: var(--space-xl);
  padding-bottom: 5rem;
}

/**** Støv på støv ****/
.støv_på_støv {
  background-color: var(--primary);
  padding-top: var(--space-sm);
}
.støv_på_støv2 {
  padding: var(--space-xl);
}

.grøn_bagggrund {
  background-color: var(--primary);
}
.dark_grøn_bagggrund {
  background-color: var(--quarternary);
}
.hjørne {
  padding-right: var(--space-xl);
  padding-left: var(--space-xl);
}
.order {
  padding: var(--space-xl);
}
.vindue {
  padding-right: var(--space-xl);
  padding-left: var(--space-xl);
}
/**** Musen ****/
.musen {
  background-color: var(--quarternary);
  padding: var(--space-xl);
  margin-bottom: 4rem;
  margin-top: 12%;
}

/**** Om os ****/

@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    max-width: 63ch; /* Begrænser bredden til max 63 tegn på hver linje */
  }
  .om_os {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .om_titel {
    padding: var(--space-sm);
    text-align: center;
    padding-top: var(--space-sm);
  }
  .om_titel2 {
    font-size: 6rem;
  }
  #lottie-container {
    display: block;
  }
  .skjulte_skatte {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10%;
  }
  .hjørne {
    margin-top: -20%;
    max-width: 85%;
  }
  .støv_på_støv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12%;
  }
  .støv_på_støv2 {
    padding: var(--space-xl);
  }

  .musen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 93%;
    margin-inline: auto;
    gap: 11%;
    margin-top: 10%;
  }

  .muse {
    object-fit: cover;
  }
  .max {
    max-width: 1400px;
    margin-inline: auto;
  }
}
